@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --white: #E6E8E6;
    --black: #0B0A07;
    --azul: #3772FF;
}

.Degarde {
    background: linear-gradient(97deg, #3772FF 0%, #F46036 99.02%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.invisivel {
    color: transparent;
}


.Inicio {
    width: 100%;
    height: 1080px;
    background: #171615;

    position: relative;
}

.Apresentacao {
    width: 594px;
    height: 220px;
    top: 662px;
    left: 200px;

    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

.Apresentacao h1 {
    color: var(--white);
    font-family: "Poppins";
    font-size: 105.667px;
    font-style: normal;
    font-weight: 800;
    line-height: 110px;
    /* 104.101% */
}

.Star1 {
    width: 153.332px;
    height: 154px;
    transform: rotate(19.287deg);
    flex-shrink: 0;

    stroke-width: 2.255px;
    stroke: rgba(230, 232, 230, 0.20);

    position: absolute;

    top: 618px;
    left: 131px;
    border: 2.26px;

    z-index: 9;
}

/*SOBRE*/

.Sobre {
    width: 100%;
    height: 1080px;
    background: var(--white);

    position: relative;
}

.Nome {
    width: 452.04px;
    height: 62px;
    top: 257px;
    left: 207px;

    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

.Nome h1 {
    color: #0B0A07;
    font-family: "Poppins";
    font-size: 59.558px;
    font-style: normal;
    font-weight: 800;
    line-height: 62px;
    /* 104.101% */
}

.Star2 {
    width: 14.93px;
    top: 257px;
    height: 15px;
    left: 644px;

    position: absolute;

    z-index: 9;
}

.Profissao {
    width: 354px;
    height: 440px;
    top: 370px;
    left: 207px;


    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

.Profissao h1 {
    color: #0B0A07;
    font-family: "Poppins";
    font-size: 105.667px;
    font-style: normal;
    font-weight: 800;
    line-height: 110px;
    /* 104.101% */
}

.Profissao h2 {
    font-family: "Pacifico";
    font-size: 59.131px;
    font-style: normal;
    font-weight: 400;
    line-height: 61.556px;
    /* 104.101% */

    background: linear-gradient(97deg, #3772FF 0%, #F46036 99.02%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: 169px;
    height: 62px;
    top: 380px;
    left: 78px;
    transform: rotate(-6.983deg);

    position: absolute;
}

.quadrado1 {
    width: 5px;
    height: 356px;
    top: 362px;
    left: 762px;

    position: absolute;

    background: linear-gradient(180deg, #3772FF 0%, #F46036 100%);
}

.SobreMim {
    width: Hug (869px);
    height: Hug (495px);
    top: 292px;
    left: 842px;
    gap: 13px;

    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.SobreMim h1 {
    color: #0B0A07;
    font-family: "Poppins";
    font-size: 30.743px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 869px;
    height: 230px;
}

.SobreMim h2 {
    color: #646464;
    font-family: "Poppins";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 858px;
    height: 252px;
}

.SobreMim h3 {
    color: #646464;
    font-family: "Poppins";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 858px;
    height: 252px;

    top: 420px;
    position: absolute;

}

.StarFundo {
    transform: rotate(17.899deg);
    flex-shrink: 0;

    stroke-width: 6px;
    stroke: rgba(0, 0, 0, 0.20);

    width: 342px;
    height: 343.49px;
    top: 110px;
    right: 45px;
    border: 6px;

    position: absolute;

}

/*PROJETOS*/

.Projetos {
    width: 100%;
    height: 1080px;
    background: #171615;

    position: relative;
}

.ProjetoMy {
    width: 612.86px;
    height: 202px;
    top: 52px;
    left: 203px;

    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

.ProjetoMy h1 {
    color: #E6E8E6;
    font-family: "Poppins";
    font-size: 96.679px;
    font-style: normal;
    font-weight: 800;
    line-height: 100.643px;
    /* 104.101% */
}

.Star3 {
    width: 140.29px;
    height: 140.9px;
    top: 103.24px;
    left: 701.58px;
    border: 2.06px;

    position: absolute;

    z-index: 9;
}

.SobreProjeto {
    width: Hug (1, 038px);
    height: Hug (610px);
    top: 315px;
    left: 203px;
    gap: 23px;

    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.SobreProjeto h1 {
    color: #E6E8E6;
    font-family: "Poppins";
    font-size: 30.743px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 1038px;
    height: 138px;
}

.SobreProjeto h2 {
    color: #646464;
    font-family: "Poppins";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 1038px;
    height: 449px;

}

.SobreProjeto h3 {
    color: #646464;
    font-family: "Poppins";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 1038px;
    height: 230px;

    top: 420px;
    position: absolute;
}

.quadrado2 {
    width: 5px;
    height: 356px;
    top: 362px;
    right: 490px;

    position: absolute;

    background: linear-gradient(180deg, #3772FF 0%, #F46036 100%);
}

.SaibaMais {
    display: inline-flex;
    padding: 8.684px;
    justify-content: center;
    align-items: center;
    gap: 5.789px;

    position: absolute;
    width: Hug (119.37px);
    height: Hug (44.37px);
    top: 950px;
    left: 203px;

    border: none;
    border-radius: 17.368px;
    background: linear-gradient(98deg, #3772FF 0.31%, #F46036 100%);

    color: #E6E8E6;
    font-family: "Poppins";
    font-size: 17.798px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*CONTATOS*/

.Contatos {
    width: 100%;
    height: 1000px;
    background: var(--white);

    position: relative;
}

.Contato {
    width: 546px;
    height: 115px;
    top: 96px;
    left: 201px;


    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
}

.Contato h1 {
    color: #0B0A07;
    font-family: "Poppins";
    font-size: 110.47px;
    font-style: normal;
    font-weight: 800;
    line-height: 115px;
    /* 104.101% */
}

.Star4 {
    width: 27.7px;
    height: 27.82px;
    top: 98px;
    left: 720px;


    position: absolute;
}

.quadrado3 {
    width: 5px;
    height: 356px;
    top: 278px;
    left: 770px;


    position: absolute;

    background: linear-gradient(180deg, #3772FF 0%, #F46036 100%);
}


.SobreContato {
    width: Hug (854px);
    height: Hug (373px);
    top: 262px;
    left: 857px;
    gap: 25px;


    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.SobreContato h1 {
    color: #0B0A07;
    font-family: "Poppins";
    font-size: 30.743px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 854px;
    height: 138px;
}

.SobreContato h2 {
    color: #646464;
    font-family: "Poppins";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 843px;
    height: 210px;
}

.StarFundo2 {
    transform: rotate(17.899deg);
    flex-shrink: 0;

    stroke-width: 6px;
    stroke: rgba(0, 0, 0, 0.20);

    width: 342px;
    height: 343.49px;
    top: 110px;
    right: 45px;
    border: 6px;

    position: absolute;

}

.Redes {
    width: Hug (63.88px);
    height: Hug (384.32px);
    top: 350px;
    left: 277px;
    gap: 13px;

    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;

}

.Redes img {
    width: 43.88px;
    height: auto;
}

/*RESPONSIVIDADE*/

@media (max-width: 767px) {

    .Inicio {
        height: 870px;
    }

    .Apresentacao {
        width: 316px !important;
        height: 100px !important;
        top: 670px !important;
        left: 62px !important;
    }

    .Apresentacao h1 {
        font-size: 50px !important;
        font-style: normal;
        font-weight: 800;
        line-height: 50px;
        /* 104.101% */
    }

    .Star1 {
        width: 102.41px !important;
        height: 102.9px !important;
        transform: rotate(19.287deg) !important;
        flex-shrink: 0 !important;

        top: 645px !important;
        left: 25px !important;
        z-index: 9 !important;
    }
}

@media (max-width: 767px) {

    .Sobre {
        height: 2550px;
    }

    .Nome {
        width: 316px !important;
        height: 124px !important;
        top: 111px !important;
        left: 62px !important;
    }

    .Nome h1 {
        font-size: 60px;
        font-weight: 800;
        line-height: 62px;
        letter-spacing: 0em;
        text-align: left;

    }

    .Star2 {
        width: 15px !important;
        height: 15px !important;
        transform: rotate(19.287deg) !important;
        flex-shrink: 0 !important;

        top: 173px !important;
        left: 228px !important;
        z-index: 9;
    }


    .Profissao {
        width: 287.85px !important;
        height: 409.61px !important;
        top: 315px !important;
        left: 72px !important;


        position: absolute !important;
        justify-content: center !important;
        display: flex !important;
        align-items: center !important;
    }

    .Profissao h1 {
        font-size: 96.25px;
        font-style: normal;
        font-weight: 800;
        line-height: 100.2px;
        /* 104.101% */
    }

    .Profissao h2 {
        font-size: 53.86px;
        font-style: normal;
        font-weight: 400;
        line-height: 56.07px;

        width: 154px !important;
        height: 57px !important;
        top: 350px !important;
        left: 45px !important;
        transform: rotate(-6.983deg) !important;

        position: absolute !important;
    }

    .quadrado1 {
        width: 5px !important;
        height: 300px !important;
        top: 740px !important;
        left: 210px !important;
        transform: rotate(-90deg) !important;

        position: absolute !important;
    }

    .SobreMim {
        width: 316px !important;
        height: 1283px !important;
        top: 934px !important;
        left: 62px !important;
        gap: 13px !important;

    }

    .SobreMim h1 {
        font-size: 30.74px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 46.11px !important;

        width: 316px !important;
        height: 598px !important;
    }

    .SobreMim h2 {
        font-size: 28px !important;
        font-style: normal;
        font-weight: 500;
        line-height: 42px !important;

        width: 316px !important;
        height: 400px !important;
    }

    .SobreMim h3 {
        font-size: 28px !important;
        font-style: normal;
        font-weight: 500;
        line-height: 42px !important;

        width: 316px !important;
        height: 250px !important;

        top: 1180px !important;
        position: absolute !important;

    }

    .StarFundo {
        width: 179.66px !important;
        height: 180.45px !important;
        transform: rotate(19.287deg) !important;
        flex-shrink: 0 !important;

        top: 2220px !important;
        left: 205px !important;
    }
}

@media (max-width: 767px) {

    .Projetos {
        height: 2700px;
    }

    .ProjetoMy {
        width: 316px !important;
        height: 100px !important;
        top: 110px !important;
        left: 62px !important;
    }

    .ProjetoMy h1 {
        font-size: 50px !important;
        font-style: normal;
        font-weight: 800;
        line-height: 50px;
        /* 104.101% */
    }

    .Star3 {
        width: 80.49px !important;
        height: 80.84px !important;
        transform: rotate(19.287deg) !important;
        flex-shrink: 0 !important;

        top: 132px !important;
        left: 300px !important;
        z-index: 9;
    }

    .quadrado2 {
        width: 5px !important;
        height: 300px !important;
        top: 210px !important;
        left: 210px !important;
        transform: rotate(-90deg) !important;

        position: absolute !important;
    }

    .SobreProjeto {
        width: 316px !important;
        height: 1234px !important;
        top: 500px !important;
        left: 62px !important;
        gap: 23px !important;

    }

    .SobreProjeto h1 {
        font-size: 30.74px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 46.11px !important;

        width: 316px !important;
        height: 460px !important;
    }

    .SobreProjeto h2 {
        font-size: 28px !important;
        font-style: normal;
        font-weight: 500;
        line-height: 42px !important;

        width: 316px !important;
        height: 750px !important;
    }

    .SobreProjeto h3 {
        font-size: 28px !important;
        font-style: normal;
        font-weight: 500;
        line-height: 42px !important;

        width: 316px !important;
        height: 670px !important;

        top: 1300px !important;
        position: absolute !important;
    }

    .SaibaMais {
        display: inline-flex;
        padding: 8.684px;
        justify-content: center;
        align-items: center;
        gap: 5.789px;

        position: absolute;
        top: 2480px !important;
        left: 62px !important;

        font-size: 17.798px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

}

@media (max-width: 767px) {
    .Contatos {
        height: 1700px;
    }

    .Contato {
        width: 252px !important;
        height: 75px !important;
        top: 122px !important;
        left: 56px !important;

        position: absolute;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .Contato h1 {
        font-size: 50px !important;
        font-style: normal;
        font-weight: 800;
        line-height: 115px;
        /* 104.101% */
    }

    .Star4 {
        width: 15px !important;
        height: 15px !important;
        top: 129px !important;
        left: 295px !important;

        position: absolute;
    }

    .Redes {
        width: 174px !important;
        height: 52px !important;
        top: 1390px !important;
        left: 128px !important;
        gap: 20px !important;

        display: flex; /* Adiciona display flex para alinhar os ícones lado a lado */
        flex-direction: row; /* Alinha os ícones horizontalmente */

        justify-content: space-between;
        position: absolute;

    }

    .Redes img {
        width: 43.88px;
        height: auto;
    }

    .quadrado3 {
        width: 5px !important;
        height: 300px !important;
        top: 1170px !important;
        left: 210px !important;
        transform: rotate(-90deg) !important;

        position: absolute !important;
    }

    .SobreContato {
        width: 316px !important;
        height: 1031px !important;
        top: 215px !important;
        left: 62px !important;
        gap: 25px !important;

    }

    .SobreContato h1 {
        font-size: 30.74px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 46.11px !important;

        width: 316px !important;
        height: 460px !important;
    }

    .SobreContato h2 {
        font-size: 28px !important;
        font-style: normal;
        font-weight: 500;
        line-height: 42px !important;

        width: 316px !important;
        height: 750px !important;
    }

    .StarFundo2 {
        width: 179.66px !important;
        height: 180.45px !important;
        transform: rotate(19.287deg) !important;
        flex-shrink: 0 !important;

        top: 1130px !important;
        left: 205px !important;
    }
}