@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --white: #E6E8E6;
    --black: #0B0A07;
    --azul: #3772FF;
}

.Footer {
    width: 1510px;
    height: 100px;
    top: 836px;
    left: 205px;

    display: inline-flex;
    padding: 30px 578.774px 29.938px 82px;
    align-items: center;
    gap: 449px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 50px;
    background: rgba(11, 10, 7, 0.50);
    backdrop-filter: blur(2px);

    position: absolute;
    z-index: 999;
}

.Direitos {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17.613px;

    width: 253px;
    height: 27px;
    top: 36px;
    left: 628px;


    position: absolute;
}

.Direitos h1 {
    color: var(--white);
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.Logo {
    position: absolute;

    width: 47px;
    height: 40.06px;
    top: 30px;
    left: 82px;
}

/*RESPONSIVIDADE*/

@media (max-width: 767px) {
    .Footer {
        width: 316px !important;
        height: 100px !important;
        top: 1550px !important;
        left: 52px !important;
        padding: 30px 37px 28px 42px !important;
    }

    .Logo {
        width: 47px !important;
        height: 40.06px !important;
        top: 30px !important;
        left: 42px !important;
    }

    .Direitos {
        width: 149px !important;
        height: 40px !important;
        top: 30px !important;
        left: 130px !important;
         
}

.Direitos h1 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: right ;
}
}